<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Lista Klientów</title>
    <style>
        body, html{
            background-color: #212529;
        }

        h3{
            color: #E4E2DB;
            text-align: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container bg-dark">
    <h3>Lista Klientów</h3>
    <a th:href="@{/klienci/rejestracja}" class="btn btn-primary btn-sm mb-3"> Dodaj rezerwacje </a>
    <table class="table table-bordered table-striped table-dark">
        <thead class="table-dark">
        <tr>
            <th>Login</th>
            <th>Hasło</th>
            <th>Telefon</th>
            <th>Rezerwacja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempKlienci : ${klienci}">
            <td th:text="${tempKlienci.imie}"></td>
            <td th:text="${tempKlienci.nazwisko}"></td>
            <td th:text="${tempKlienci.telefon}"></td>
            <td th:text="${tempKlienci.rezerwacja}"></td>
            <td>
                <a th:href="@{/klienci/addFormUpdate(klientId=${tempKlienci.id})}"
                    class="btn btn-light btn-sm"> Zaktualizuj
                </a>
                <a th:href="@{/klienci/delete(klientId=${tempKlienci.id})}"
                    class="btn btn-danger btn-sm"
                    onclick="if(!(confirm('Czy jesteś pewny, że chcesz usunąć tą rezerwację?'))) return false"> Usuń
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/zalogowany}" id="powrot">Powrót do strony głównej</a>
</div>
</body>
</html>